body {
  font-family: "微软雅黑", Arial, sans-serif;
  background-color: @blue-darker; 
}

ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  *color: @gray;
  &:hover,
  &:active,
  &:visited {
    color: inherit;
    *color: @gray;
  }
  &:hover {
    text-decoration: underline;
  }
}

.container {
  width: 980px;
}

.header {
  background: url(../images/bg_980x70.jpg) no-repeat left top;
  height: 70px;
}

.main-page {
  margin-top: 10px;
  &.container {
    width: 1000px;
  }
}

.main-page {
  position: relative;
  .loading {
    text-align: center; 
    padding-top: 100px; 
    display: none; 
    position: absolute; 
    width: 100%; 
    height: 100%
  }
}
